{% extends 'main.html' %}
{% load static %}
{% load embed_video_tags %}

{% block title %} Shiftingbd | Message {% endblock title %}

{% block content %}


<!-- page-title -->
<div class="cmt-page-title-row">
    <div class="cmt-page-title-row-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div> 
                        {% if messages %}
                             {% for message in messages %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <i class="fa-solid fa-check"></i>{{ message }}
                                </div> 
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>
<!-- page-title end-->


{% endblock %}